<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/"><%= title %></a>
			    </div>
			  </div>
			</nav>
			<div class="row">
			  <div class="col-md-12">
		        <ul>
<% candidates.forEach(function(candidate) { %>
	                <li><a href="/http/votes/<%= candidate.name %>"><%= candidate.name %></a>: <%= candidate.votes.length %> votes</li>
<% }); %>
		        </ul>
		      </div>
		    </div>
		</div>
		<!-- build:js /javascripts/script.js -->
		<!-- endbuild -->
	</body>
</html>
